@import 'fonts.sass'
@import 'base/mixins.sass'
@import 'base/variables.sass'



*
    font-family: 'Museo Sans' sans-serif
    

.container
    max-width: 950px
    margin: 0 auto

@import 'blocks/promo.sass'
@import 'blocks/header.sass'

